.adscheck-container {
    text-align: center;
}

.adscheck-container h4 {
    line-height: 24px;
    color: #1CA64D;
}

.adscheck-container p {
    font-size: 3rem;
    line-height: 45px;
    color: #333;
    font-weight: 700;
    margin: 12px 0;
}