@media (max-width: 600px) {
    .navigation-container {
        padding: 16px 20px;
    }

    .nav-list {
        display: none;
    }

    .nav-email {
        display: none;
    }

    .nav-icon {
        width: 20%;
        display: flex;
        justify-content: space-between;
        font-size: 2rem;
    }
}